* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(83, 133, 97);
    color: aliceblue;
    margin: 0;
}
header {
    background-color: rgb(80, 122, 93);
    padding: 10px;
    position: sticky;
    /* width: 100px; */
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgb(142, 255, 167);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 60px;
    font-weight: bold;
    white-space: nonrap;
    color: white;
    margin-bottom: 20px;
    margin-top: 8px;
}
nav .logo img{
    height: 40px;
    width: 40px;
    border-bottom: 8px;
    border-radius: 100%;
}
nav ul {
    display: flex;
    gap: 20px;   
    list-style: none;
    font-size: 15px;

}
nav  ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px; /* sudut membulat  */
    margin-top: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease;

}
nav li a:hover{
    background-color: rgb(88, 160, 105);
}
nav ul li a.active{
    background-color: rgb(88, 160, 105);
    color: white;
    font-weight: bold;
}
.containerimg {
    padding: 20rem;
    position: relative;
    margin: 0;
}
.hero {
    position: relative;
    background-image: url(img/gunung.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
    width: 90%;
}
.hero-text h1 {
    font-size: 3rem;
    color: rgb(0, 0, 0);
    font-family: arial;
    font-optical-sizing: auto;
    font-weight: weight;
}
.hero-text p {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-family: arial;
    font-optical-sizing: auto;
    font-weight: weight;
}
.hero-btn {
    background-color: beige;
}
.hero-button{
    display: inline-block;
    background: transparent;
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5Px;
    font-size: 1rem;
    cursor: pointer;
}
.hero-text .hero-button:hover{
    background-color: rgb(61, 114, 76);
    border: 1px solid lightblue;
    transition: 0.3s ease;
}

.about {
    padding: 10px 20px;
    background-color: rgb(40, 85, 53);
    padding-left: 40px;
    padding-right: 40px;
}
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.20px;
}
.section title {
    color: cadetblue;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.section title h2 {
    font-size: 30px;
    font-weight: bold;
    color: beige;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.about{
    padding: 5rem;
    background-color: rgb(43, 99, 59);
}
.about content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    padding: 0 20px;
}
.about-grid{
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    gap: 40px;
}
.about-left, .about-right {
    flex: 1;
    text-align: justify;
}
.about-left h3, .about-right h3 {
    color: aliceblue;
    margin-bottom: 15px;
    font-size: 24px;
}
.about-left p, .about-right p {
    font-size: 14px;
    line-height: 1.6;
     margin-bottom: 15px;
}
.about-left ul li {
    color: blanchedalmond;
    margin-right: 10px;
    font-size: 14px;
}
.about-btn {
    background-color: beige;
}
.about-button{
    display: inline-block;
    background: transparent;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5Px;
    font-size: 1rem;
    cursor: pointer;
}
.about-text .about-button:hover{
    background-color: rgb(77, 129, 92);
    border: 1px solid lightblue;
    transition: 0.3s ease;
}
.logo-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: rgb(63, 121, 79);
}
.logo {
    max-width: 2000px;
    max-height: 150px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
.logo:hover{
    filter: none;
}
/* wrap untuk mindah disamping */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}
.card {
    background-color: rgb(58, 100, 70);
    border: 1px solid rgb(66, 153, 91);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 13px;
    padding: 23px;
    width: 42%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.card h3{
    margin: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.card p {
    margin: 5px 0 0;
    color: rgb(214, 212, 212);
}
/* gallery */
.section-title{
    font-size: 20px;
    font-weight: bold;
    color: beige;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.filter-btn {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: rgb(62, 119, 78);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.filter-btn.active,
.filter-btn:hover {
    background-color: rgb(74, 139, 91);
    color: white;
}
.filter-btn.active {
    background-color: rgb(74, 139, 91);
    color: white;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.item{
    position: relative;
    width: 100%;
    padding-top: 100%;
}
.item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}
.item img:hover{
    transform: scale(1.05);
}
#secondary-nav1{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.footer {
    max-width: auto;
    margin: auto;
    padding: 1rem;
    text-align: center;
    background-color: rgb(34, 68, 44);
    color: white;
}
.foot-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background-color: var(--BackGroundUtama);
    max-width: auto;
    margin: auto;
}
.foot-page{
    border-left: 1px solid var(--BackGroundSet);
    padding: 1rem 1rem;
    text-align: justify;
}
.foot-btn {
    background-color: beige;
}
.foot-button{
    display: inline-block;
    background: rgb(62, 124, 79);
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5Px;
    font-size: 1rem;
    cursor: pointer;
}
.foot-text .foot-button:hover{
    background-color: rgb(133, 163, 202);
    border: 1px solid lightblue;
    transition: 0.3s ease;
}